<div class="jumbotron">
<h2><b>Generate Bill</b></h2>

<%= form_for(@bill) do |f| %>

    <b><%= f.label :comment %></b></br>
    <%= f.text_field :comment, autofocus: true %></br></br>

    <b><a> Pay Method : </a></b>
    <% tableau_assoc = {"Visa"=>"Visa","Voucher"=>"Voucher"}%>
    <%= f.select :pay_method,tableau_assoc %></br>

    <b><a> Customer : </a></b>
    <%= f.select :customer_id, options_from_collection_for_select(@customers, 'id', 'first_name') %>
    or <i><a href = "../customers/new" >add customer</a></i>
    </br>

  </br><%=render 'bill_items/index'%></br>

    <%= f.submit "Generate", class: 'btn btn-primary' %>

<% end %>
  <%=render 'bill_items/add_item' %>
<%= link_to "Back", :back %>
</div>
